body {
    font-family: "Playfair Display";
    background: url("../img/newspaper1.jpg");
}

header,
.nav-container {
    background-color: #e3120b;
    color: #fafafa;
    opacity: 0.9;
}

.nav-container {
    padding-bottom: 20px;
    padding-top: 1%;
    margin-bottom: 30px;
}

a {
    color: #fafafa;
    display: block;
}

a:hover {
    color: #4a4a4a;
}

.saved-btn {
    background-color: #e3120b;
    /* background-color: #00b3b3; */
    /* background-color: #264d73; */
}

#results-btn,
#scrape-btn {
    display: block;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    height: 80px;
    font-size: 130%;
    /* opacity: 0.8; */
}

.home-link-btn {
    background-color: #e3120b;
}


#see-results-btn-link {
    background-color: #e3120b;
}

#results-btn:hover,
#scrape-btn:hover {
    zoom: 1.1;
}

.results-link:hover {
    color: lightblue;
}



.main-container-results {
    opacity: 0.9;
}

.description {
    margin-right: 3px;
}

.btn {
    margin-top: 1px;
    margin-bottom: 2px;
}

th {
    text-align: center;
    font-size: 25px;
}

.keepreading:hover {
    color: lightskyblue;
}

li {
    list-style: none;
}

.pcomment,
.delete-comment-btn {
    display: inline-block;
}

 .pcomment {
     margin-right: 3%;
}

#post-btn {
    margin-top: 1%;
    background-color: lightskyblue;
}

#saved-articles-title,
#results-articles-title {
    color: #4a4a4a;
    font-size: 40px;
    background-color: #fafafa;
    opacity: 0.6;
    text-align: center;
}

#no-articles-message {
    /* color: #4a4a4a; */
    color: black;
    font-size: 40px;
    background-color: #fafafa;
    opacity: 0.8;
    text-align: center;
}

#scrape-first-message {
    color: #4a4a4a;
    font-size: 28px;
    background-color: #fafafa;
    opacity: 0.8;
    text-align: center;
}

#instructions {
    color: black;
    font-size: 26px;
    background-color: #fafafa;
    /* opacity: 0.9; */
    text-align: center;
    margin-top: 2%;
    padding: 1%;
}

.btn:hover {
    color: lightblue;
}

.card-saved {
    padding-left: 4%;
}

.card-main {
    opacity: 0.9;
}

.all-main, 
.saved-main {
    padding-bottom: 3%;
}




