body {
    background: url("../img/newspaper1.jpg");
    font-family: "Playfair Display";
}

header,
.nav-container {
    background-color: #e3120b;
    color: #fafafa;
    opacity: 0.9;
}

h1 {
    font-size: 3.3em;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: "Playfair Display";
}

.article-descr {
    font-size: 1.2em;
}

.nav-container {
    padding-bottom: 20px;
    padding-top: 1%;
    margin-bottom: 30px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-item {
    flex: 1;
    justify-content: center;
    align-content: center;
}

.nav-saved-btn {
    display: flex;
    justify-content: center;
}

a {
    color: #fafafa;
    display: block;
}

a:hover {
    color: #4a4a4a;
}

.saved-btn, 
.home-link-btn,
#see-results-btn-link {
    background-color: #e3120b;
    margin-left: 3%;
    border: #fff 1px solid;
}

.home-link-btn {
    margin-right: 3%;
}

#scrape-btn {
    display: block;
    /* width: 25%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    height: 60px;
    font-size: 145%;
    opacity: 1;
    border: 0.5px solid #fafafa;
    color: #fafafa;
    background-color: black;
    opacity: 0.9;
    padding-left: 3%;
    padding-right: 3%;
}



#scrape-btn:hover {
    color: black;
    border: 3px solid black;
    background-color: transparent;
    font-weight: 1000;
}

.results-link:hover {
    color: lightblue;
}

.main-container-results {
    opacity: 0.9;
}

.description {
    margin-right: 3px;
}

.btn {
    margin-top: 1px;
    margin-bottom: 2px;
}

th {
    text-align: center;
    font-size: 25px;
}

.keepreading:hover {
    color: lightskyblue;
}

.comment-item {
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 1%;

}

.delete-comment-btn {
    flex:1;
    text-align: center;
}

.fa-trash {
    margin-top: 20%;
    height: 100%;
    width: 100%;  
}

.fa-trash:hover {
    opacity: 0.5;
}

.comment-text {
     margin-top: 3%;
     flex:4;
}

#article-commented {
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 4%;
}

#comments-div {
    margin-top: 3%;
}

#post-btn {
    margin-top: 1%;
    background-color: #252525;
    /* width: 20%; */
    height: 3em;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.7em;
    padding-left: 4%;
    padding-right: 4%;
}

#post-btn:hover {
    opacity: 0.9;
}

#saved-articles-title,
#results-articles-title {
    color: #4a4a4a;
    font-size: 40px;
    background-color: #fafafa;
    opacity: 0.6;
    text-align: center;
}

#no-articles-message {
    /* color: #4a4a4a; */
    color: black;
    font-size: 40px;
    background-color: #fafafa;
    opacity: 0.8;
    text-align: center;
}

#went-wrong-div {
    color: #4a4a4a;
    /* font-size: 28px; */
    background-color: #fafafa;
    opacity: 0.9;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

#try-again-btn {
    margin-top: 1.5%;
    color: black;
    border: 1px solid black;;
    font-size: 1.3em;
    background-color: #fafafa;
    opacity: 1;
    text-align: center;
}

#try-again-btn:hover {
    color: lightsteelblue;
    opacity: 0.9;
}

#instructions {
    color: black;
    font-size: 26px;
    background-color: #fafafa;
    text-align: center;
    margin-top: 2%;
    padding: 1%;
}

.btn:hover {
    color: lightblue;
}

.card-saved {
    padding-left: 4%;
}

.card-main {
    opacity: 0.9;
}

.all-main, 
.saved-main {
    padding-bottom: 3%;
}

.wait-msg {
    background-color: #fafafa;
    border: 1px solid #4a4a4a;
    text-align: center;
    color: #4a4a4a;
    max-width: 20%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 40px;

}




